{% extends "base.html" %}
{% block title %}Admin action success{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	
	<div class="col-md-9">
		{% if arqs %}
		Approved requests:<br />
			<table class="table">

			<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			</tr>

		{% for arq in arqs %}
		<tr>
			<td>{{arq.roomnum}}</td>
			<td>{{arq.userid}}</td>
			<td>{{arq.startdate}}</td>
			<td>{{timetable[arq.starttime]}}</td>
			<td>{{timetable[arq.endtime]}}</td>
		<tr>
		{% endfor %}
		</table>
		{% endif %}
		
		{% if drqs %}
		Denied requests:<br />
			<table class="table">

			<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			</tr>
	<br />
		{% for drq in drqs %}
		<tr>
			<td>{{drq.roomnum}}</td>
			<td>{{drq.userid}}</td>
			<td>{{drq.startdate}}</td>
			<td>{{timetable[drq.starttime]}}</td>
			<td>{{timetable[drq.endtime]}}</td>
		<tr>
		{% endfor %}
		</table>
		{% endif %}
		
		{% if crqs %}
		Conflicting requests (You attempted to approve these requests, but there are conflicts within them that prevent this. Check their times, dates, and room numbers for conflicts with each other.):<br />
			<table class="table">
			
			<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			</tr>
			
		{% for crq in crqs %}
		<tr>
			<td>{{crq.roomnum}}</td>
			<td>{{crq.userid}}</td>
			<td>{{crq.startdate}}</td>
			<td>{{timetable[crq.starttime]}}</td>
			<td>{{timetable[crq.endtime]}}</td>
		<tr>
		{% endfor %}
		</table>
		{% endif %}
		
		{% if erqs %}
		Requests that conflict with existing reservations (you have previously approved requests that conflict with these, they have been automatically denied):<br />
			<table class="table">
			
			<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			</tr>
			
		{% for erq in erqs %}
		<tr>
			<td>{{erq.roomnum}}</td>
			<td>{{erq.userid}}</td>
			<td>{{erq.startdate}}</td>
			<td>{{timetable[erq.starttime]}}</td>
			<td>{{timetable[erq.endtime]}}</td>
		<tr>
		{% endfor %}
		</table>
		{% endif %}
	
{% endblock %}