{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block head %}
	{{ super() }}
<link rel='stylesheet' href='static/fullcalendar.css' />
<script src='static/lib/moment.min.js'></script>
<script src='static/fullcalendar.js'></script>

<script>
$(document).ready(function() {

$('#calendar').fullCalendar({
	defaultView:'agendaWeek',
	allDaySlot: false,
	minTime: "08:00:00",
	maxTime: "20:00:00",
	contentHeight:550,
	events: '/eventfeed'
})
});
</script>
{% endblock %}

{% block content %}

<div id='calendar'></div>
{% endblock %}