{% extends "base.html" %}
{% block title %}Room Detail - {{ roomnum }}{% endblock %}
{% block head %}
	{{ super() }}
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="/css/datepicker.css">
	<script src="/static/bootstrap-datepicker.js"></script>
	<link rel='stylesheet' href='/static/fullcalendar.css' />
	<script src='/static/lib/moment.min.js'></script>
	<script src='/static/fullcalendar.js'></script>
	
	<script>
	$(document).ready(function() {

		$('#calendar').fullCalendar({
			defaultView:'agendaWeek',
			allDaySlot: false,
			minTime: "08:00:00",
			maxTime: "20:00:00",
			contentHeight:550,
			events: {
				url: '/eventfeed',
				type: 'GET',
				data: {
					room: '{{ roomnum }}'
				}
			}
		})
		
	});
	</script>
{% endblock %}

{% block content %}

<div class="col-md-9">
<form name="rsubmission" action="/rooms/{{roomnum}}" method="post" class="form-horizontal" role="form">
  <div class="form-group">
     <label for="rnum" class="col-sm-2 control-label" name="rnum">Room {{ roomnum }}</label>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" name="name">Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
 <div class="form-group">
  <label for="sdate" class="col-sm-2 control-label">Date</label>
  <div class="col-sm-3">
  <div id="container">
<div class="input-group date">
  <input type="text" name="sdate" id="sdate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
</div>
</div>
  </div>
  <div class="form-group">
  <label for="stime" class="col-sm-2 control-label">Start time</label>
  <div class="col-sm-3">
  <select class="form-control" name="stime" id="stime">
<option name="time" value="0">8:00 AM</option>
<option name="time" value="1">8:30 AM</option>
<option name="time" value="2">9:00 AM</option>
<option name="time" value="3">9:30 AM</option>
<option name="time" value="4">10:00 AM</option>
<option name="time" value="5">10:30 AM</option>
<option name="time" value="6">11:00 AM</option>
<option name="time" value="7">11:30 AM</option>
<option name="time" value="8">12:00 PM</option>
<option name="time" value="9">12:30 PM</option>
<option name="time" value="10">1:00 PM</option>
<option name="time" value="11">1:30 PM</option>
<option name="time" value="12">2:00 PM</option>
<option name="time" value="13">2:30 PM</option>
<option name="time" value="14">3:00 PM</option>
<option name="time" value="15">3:30 PM</option>
<option name="time" value="16">4:00 PM</option>
<option name="time" value="17">4:30 PM</option>
<option name="time" value="18">5:00 PM</option>
<option name="time" value="19">5:30 PM</option>
<option name="time" value="20">6:00 PM</option>
<option name="time" value="21">6:30 PM</option>
<option name="time" value="22">7:00 PM</option>
<option name="time" value="23">7:30 PM</option>

  </select>
  </div>
  </div>
  <div class="form-group">
  <label for="etime" class="col-sm-2 control-label">End time</label>
  <div class="col-sm-3">
  <select class="form-control" name="etime" id="etime">
<option name="time" value="0">8:00 AM</option>
<option name="time" value="1">8:30 AM</option>
<option name="time" value="2">9:00 AM</option>
<option name="time" value="3">9:30 AM</option>
<option name="time" value="4">10:00 AM</option>
<option name="time" value="5">10:30 AM</option>
<option name="time" value="6">11:00 AM</option>
<option name="time" value="7">11:30 AM</option>
<option name="time" value="8">12:00 PM</option>
<option name="time" value="9">12:30 PM</option>
<option name="time" value="10">1:00 PM</option>
<option name="time" value="11">1:30 PM</option>
<option name="time" value="12">2:00 PM</option>
<option name="time" value="13">2:30 PM</option>
<option name="time" value="14">3:00 PM</option>
<option name="time" value="15">3:30 PM</option>
<option name="time" value="16">4:00 PM</option>
<option name="time" value="17">4:30 PM</option>
<option name="time" value="18">5:00 PM</option>
<option name="time" value="19">5:30 PM</option>
<option name="time" value="20">6:00 PM</option>
<option name="time" value="21">6:30 PM</option>
<option name="time" value="22">7:00 PM</option>
<option name="time" value="23">7:30 PM</option>
<option name="time" value="24">8:00 PM</option>
  </select>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<div id='calendar'></div>
  <script>
jQuery(function($) {
    $( ".input-group.date" ).datepicker();
  });
  </script>
{% endblock %}